<div class="container">
    <a href="/" class="btn btn-danger badge mt-4">Go back</a>
    <form class="w-25 border p-3 my-5" ng-submit="submit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" placeholder="Enter name" ng-model="name">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" ng-model="emailSender">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
